.content {
    width: 100%;
    background: url("/background.jpg") top center/100% 100% no-repeat;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 4px 0;
}