.content {
    width: 100%;
    background: url("/background.jpg") top center/100% 100% no-repeat;
    padding: 80px 0;
}

.title {
    font-size: 2rem;
    line-height: 1.0;
    margin-bottom: 60px;
    text-align: center;
}

.blogList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    @media screen and (min-width: 600px) {
        width: 90%;
    }
    @media screen and (min-width: 1025px) {
        width: 1024px;
    }
    li {
        width: 100%;
        @media screen and (min-width: 600px) {
            width: 46%;
        }
        @media screen and (min-width: 1025px) {
            width: 32%;
        }
        
    }
}